:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-light: hsl(179, 62%, 47%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
}

h1,
h2 {
  padding-bottom: 1.5rem;
}

p {
  line-height: 1.5rem;
}

li {
  list-style: none;
  line-height: 1.15rem;
  color: var(--light-gray);
}

ul {
  padding-left: 0;
  font-size: 0.85rem;
}

.container {
  padding: 4.5rem 2rem;
}

.card {
  padding: 1.65rem;
}

.card-main {
  background: var(--white);
  border-radius: 0.25rem 0.25rem 0 0;
}

.leading {
  font-size: 0.85rem;
  color: var(--grayish-blue);
}

.card-subscribe {
  background: var(--cyan);
}

.card-title {
  font-size: 1.15rem;
}

.title-main {
  color: var(--cyan);
  font-size: 1.3rem;
}
.title-main-sub {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bright-yellow);
}

.card-sub {
  color: var(--white);
}

.card-why {
  background-color: var(--cyan-light);
  border-radius: 0 0 0.5rem 0.5rem;
}

.price-main {
  font-size: 2rem;
}

.price-description {
  display: flex;
  gap: 1rem;
}

.sub-duration {
  color: var(--light-gray);
  align-self: center;
}

.sub-lead {
  padding-bottom: 2rem;
}

.btn-signup {
  background-color: var(--bright-yellow);
  color: var(--white);
  width: 100%;
  padding: 0.85rem;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px #16161629;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 295px;
}

@media (width >=768px) {
  body {
    font-size: 0.85rem;
  }
  main {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .card {
    padding: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 546px;
  }
  .card-main {
    grid-column: span 2;
  }

  .card-subscribe {
    border-radius: 0 0 0 0.5rem;
  }
  .card-why {
    border-radius: 0 0 0.5rem 0;
  }

  .title-main-sub {
    padding-bottom: 0.5rem;
  }

  .sub-lead {
    padding-bottom: 1.25rem;
  }
}
